---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from 'astro:content';
import { formatDate } from "../../utils";

const { slug } = Astro.params;

if(slug === undefined) {
  throw new Error('Slug is required');
}

const entry = await getEntry('blog', slug);

if(entry === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await entry.render();

---

<MainLayout>
  <div class="container position-relative" >
    <a href="/blog" class="d-block position-absolute link-secondary fs-6 py-2 px-4 left-0 ms-n3 ms-sm-n5 bg-wineblack">
      <i class="bi bi-arrow-left"></i>
      Torna agli articoli</a>
    <div class="row header-post py-16 text-center" style={`background-image: url(/imgs/forblog/${entry.data.image});`}>
     <!-- <div>
        <h1 class="my-4 text-white"> {entry.data.title}</h1>
      </div>-->

    </div>

    <div class="row mt-n7">
      <div class="col-11 mx-auto col-lg-7 bg-white px-8 py-4">
        <article>
          <hr>
          <p class="fs-6"><span class="text-winebrown fw-bold">Scritto da</span> {entry.data.author} <span class="text-winebrown fw-bold">il</span> {formatDate(entry.data.pubDate)}</p>
          <hr class="mb-5">
          <div class="text-paragraph">
            <Content />
          </div>

        </article>
      </div>
    </div>

  </div>

</MainLayout>

<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
</style>
