---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from "astro:assets";
import bottle_nero from "../images/vino_nero_bottle_nobg.png";


import { getEntry } from 'astro:content';

import { formatDate } from "../../utils";

let { slug } = Astro.params;
slug = slug.split('/').pop();
console.log('sluuugb:',slug);

if(slug === undefined) {
    throw new Error('Slug is required');
}
const titlePage = slug.charAt(0).toUpperCase() + slug.slice(1).split('-').join(' ');
const entry = await getEntry('blog', slug);

if(entry === undefined) {
    return Astro.redirect('/404');
}

const { Content } = await entry.render();

---
<MainLayout title={titlePage}>
    <h1>{titlePage}</h1>
    <Image
            src={bottle_nero}
            alt="Bottiglia di vino nero"
            class="w-25 img-fluid"
            decoding="async"
            loading="lazy"
    />
    <p>weee</p>
<Content/>
</MainLayout>