---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
	title="Cantina"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Immersa nella splendida cornice della Sardegna, la Cantina Piano nasce dalla passione per la viticoltura e dall'amore per la nostra terra. Fondata da una famiglia sarda con una lunga tradizione vinicola, la cantina rappresenta un connubio perfetto tra innovazione e rispetto per le antiche tradizioni.
	</p>

	<p>
		Fin dai primi anni, la nostra missione è stata chiara: creare vini che raccontano una storia, che esprimono il carattere autentico del territorio e che invitano a vivere la vita in modo rilassato e conviviale. Il nome stesso della nostra cantina, "Piano", riflette questa filosofia. Vogliamo che i nostri vini siano degustati con calma, in buona compagnia, assaporando ogni momento.
	</p>

	<p>
		La Cantina Piano produce due vini distinti, ognuno con una personalità unica e affascinante.
	</p>
</Layout>
