---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from "astro:assets";
import bottle_nero from "../images/vino_nero_bottle_nobg.png";
const titlePage = "Contatti";

---
<MainLayout title={titlePage}>
  <section class="py-15 py-xl-20">
    <div class="container mt-5 mt-lg-10">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h1 class=" lh-1 mb-4">Curioso di venirci a trovare? Contattaci!</h1>
          <p class="text-paragraph"><span class="dropcap">v</span>ieni a visitare la nostra vigna e cantina nel cuore della Sardegna. Passeggia tra i filari delle nostre vigne, scopri i segreti della nostra produzione e degusta i nostri vini direttamente in cantina. Sarà un'esperienza indimenticabile, immersa nella tradizione e nella bellezza del nostro territorio. Ti aspettiamo per condividere la nostra passione con te!</p>
          <hr class="my-4 fw-25 ml-0">
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-center">
              <span class="w-25 text-muted">Email</span>
              hello@acapoterra.it
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="w-25 text-muted">Telefono</span>
              +39 070 1234567
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="w-25 text-muted">Instagram</span>
              @ied_cagliari
            </li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="w-100 m-0 overflow-hidden">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3090.8327802381227!2d9.103273677743841!3d39.22396337165615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e73403464810d1%3A0x38345645f63a9a74!2sIED%20Istituto%20Europeo%20di%20Design%20(Villa%20Satta)!5e0!3m2!1sit!2sit!4v1719342370799!5m2!1sit!2sit" width="1000" height="450" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="card bg-wineblack border-0 text-white">
            <div class="card-body">
              <h5> Viale Trento, 39<span class="font-weight-bold d-block">09100, Capoterra (CA)</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-15 py-xl-20 border-wineorange border-top position-relative">
    <div class="skew-background bg-winegold"></div>
    <div class="container">

      <div class="row justify-content-center bg-white py-5 rounded shadow">
        <div class="col-lg-8 mb-5">
          <h2>Facciamo qualcosa di grande. <span class="d-block">Insieme.</span></h2>
        </div>
        <div class="col-lg-8">
          <form action="#" class="row g-3">

            <div class="form-floating col-md-6">
              <input class="form-control rounded-0 border border-0 shadow-none border-bottom border-4" id="name" type="text" placeholder="il tuo nome..." data-sb-validations="required" data-sb-can-submit="no">
              <label for="name" class="ps-3">nome</label>
            </div>
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>

            <div class="form-floating col-md-6">
              <input class="form-control rounded-0 border border-0 shadow-none border-bottom border-4" id="oggetto" type="text" placeholder="Inserisci oggetto.." data-sb-validations="required" data-sb-can-submit="no">
              <label for="oggetto" class="ps-3" >oggetto</label>
            </div>
            <div class="form-floating col-md-6">
              <input class="form-control rounded-0 border border-0 shadow-none border-bottom border-4" id="tuaemail" type="email" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no">
              <label for="tuaemail" class="ps-3">@email</label>
            </div>
            <!-- Force next columns to break to new line -->
            <div class="w-100 my-3"></div>
            <div class="form-floating col-md-12 my-3">
              <textarea class="form-control rounded-0 border border-0 shadow-none border-bottom border-4" placeholder="Lascia il tuo messaggio..." id="tuomessaggio" style="height: 160px"></textarea>
              <label for="tuomessaggio" class="ps-3">Messaggio</label>
            </div>

            <div class="col-md-8">
              <div class="form-check">
                <input class="form-check-input border-dark" type="checkbox" id="gridCheck">
                <label class="form-check-label text-muted small" for="gridCheck">
                  Accetto espressamente i <a href="" class="underline">termini
                  e le condizioni</a> e riconosco che le mie informazioni saranno utilizzate in conformità con l'Informativa sulla <a href="privacy">privacy</a>.
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <a href="" class="btn btn-block btn-winegold text-white rounded-pill px-6 py-3">Invia</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


</MainLayout>
