<footer class="py-15 py-lg-20 border-top border-winegreen">
  <div class="container">
    <div class="row g-4 g-lg-5 mb-10">
      <div class="col-md-3 text-center text-md-start">
        <a href="./index.html" class="navbar-brand">
          <img
          src="./assets/images/logo/logo-dark.svg" alt="Logo">
        </a>
      </div>
      <div class="col-md-4 col-lg-5 text-center text-md-start">
        <ul class="list-unstyled">
          <li class="mb-1"><a href="la-cantina" class="text-reset text-primary-hover">la Cantina</a></li>
          <li class="mb-1"><a href="i-vini" class="text-reset text-primary-hover">i Vini</a></li>
          <li class="mb-1"><a href="la-vigna" class="text-reset text-primary-hover">la Vigna</a></li>
          <li class="mb-1"><a href="contatti" class="text-reset text-primary-hover">Contatti</a></li>
          <li class="mb-1"><a href="blog" class="text-reset text-primary-hover">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="grouped-inputs border p-1 rounded-pill">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control rounded-pill px-3"
                     aria-label="Text input" placeholder="Your email">
            </div>
            <div class="col-auto">
              <a href="" class="btn btn-primary btn-icon rounded-circle"><i
                class="bi bi-arrow-return-left"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sotto footer -->

    <div class="row align-items-start g-1 g-lg-6 text-muted">
      <div class="col-md-6 col-lg-5 order-lg-2 text-center text-md-start">
        <ul class="list-inline small">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/ied_official/"
               class="text-reset link-offset-3 link-offset-2-hover link-dark icon-link icon-link-hover"
               style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
              <i class="bi bi-instagram"></i> instagram</a></li>
          <li class="list-inline-item ms-1">
            <a href="https://www.facebook.com/IEDesign"
               class="text-reset link-offset-3 link-offset-2-hover link-dark icon-link icon-link-hover"
               style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
              <i class="bi bi-facebook"></i> facebook</a></li>
          <li class="list-inline-item ms-1">
            <a href="https://www.tiktok.com/@ied_official"
               class="text-reset link-offset-3 link-offset-2-hover link-dark icon-link icon-link-hover"
               style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
              <i class="bi bi-tiktok"></i> tiktok</a></li>
          <li class="list-inline-item ms-1">
            <a href="https://www.youtube.com/c/IEDIstitutoEuropeodiDesign"
               class="text-reset link-offset-3 link-offset-2-hover link-dark icon-link icon-link-hover"
               style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
              <i class="bi bi-youtube"></i> youtube</a></li>
          <li class="list-inline-item ms-1">
            <a href="https://www.linkedin.com/school/ied-istituto-europeo-di-design"
               class="text-reset link-offset-3 link-offset-2-hover link-dark icon-link icon-link-hover"
               style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
              <i class="bi bi-linkedin"></i> linkedin</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4 text-center text-md-end order-lg-3">
        <span class="small d-block mt-n3">
          <img class="w-25 ms-n2" src="../imgs/Logo_IEDc_scritta.svg" alt="Logo IED">Media Design A.A. 23/24 - Grafica Multimediale</span>
      </div>
      <div class="col-lg-3 order-lg-1 text-center text-md-start">
        <p class="small">Copyleft 🄯 2024</p>
        <p class="small" xmlns:cc="http://creativecommons.org/ns#"
           xmlns:dct="http://purl.org/dc/terms/">
          <span class="fw-bold" property="dct:title">Cantina Piano</span> by
          <span class="fw-bold"
                property="cc:attributionName">Mattia Piano</span> is marked
          with
          <a class="text-underline text-winegreen"
             href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1"
             target="_blank" rel="license noopener noreferrer">CC0 1.0
            Universal
            <img
              style="height:16px!important;margin-left:3px;vertical-align:text-bottom;"
              src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
              alt="">
            <img
              style="height:16px!important;margin-left:3px;vertical-align:text-bottom;"
              src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"
              alt="">
          </a>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->
