---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="fixed bg-white w-full shadow px-3">
	<nav class="flex justify-between items-center h-16">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div>
			<HeaderLink href="/storia">La Nostra Storia</HeaderLink>
			<HeaderLink href="/vini">I nostri Vini</HeaderLink>
			<HeaderLink href="/cantina">La Cantina</HeaderLink>
			<HeaderLink href="/contact">Contatti</HeaderLink>
		</div>
	</nav>
</header>
