---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const pathuri = new URL(Astro.request.url).href.split('/')[3].toString();

console.log('path: ', pathuri)

---
<nav class="navbar navbar-expand-md bg-wineblack text-white border-bottom border-1 border-secondary">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img class="w-75 w-md-100 w-lg-75 w-xl-50 w-xxl-75"
           src="/imgs/logo-cantina-piano-bianco.svg" alt="Logo"
      style="height: 90px">
    </a>
    <button class="navbar-toggler border-0 shadow-none " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-lg-0 align-items-center justify-content-end w-100">
        <li class="nav-item">
          <a class={currentPath === "" ? "active text-wineorange nav-link" : "nav-link"}
             aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a
            class={currentPath === "la-cantina" ? "active text-wineorange nav-link" : "nav-link"}
            href="/la-cantina"><span>la</span> Cantina</a>
        </li>
        <li class="nav-item">
          <a href="/i-vini"
             class={currentPath === "i-vini" ? "active text-wineorange nav-link" : "nav-link"}>
            <span>i</span> Vini</a>
        </li>
        <li class="nav-item">
          <a href="/la-vigna"
             class={currentPath === "la-vigna" ? "active text-wineorange nav-link" : "nav-link"}>
            <span>la</span> Vigna</a>
        </li>
        <li class="nav-item">
          <a href="/contatti"
             class={currentPath === "contatti" ? "active text-secondary nav-link" : "nav-link"}>Contatti</a>
        </li>
        <li class="nav-item">
          <a href="/blog"
             class={currentPath === "blog" || pathuri === "blog" ? "active text-wineorange nav-link" : "nav-link"}>Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




