$body-color:                rgb(36 36 36 / 1);
$body-bg:                   rgb(240 240 240 /1);

$source-serif-pro: 'Source Serif Pro', serif;
$cookie: 'Cookie', cursive;
$baskerville: 'Libre Baskerville', serif;
$gentium: 'Gentium Book Basic', serif;
$stick: 'Stick No Bills Variable', sans-serif;

$font-family-serif: 'Source Serif pro', serif;
$font-family-monospace: 'Courier New, monospace';
$font-family-cursive: $stick;

// Override the base font-family
$font-family-base: $font-family-serif;
$headings-font-family: $stick;



// $headings-line-height: 4;

$font-size-base:              1rem;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 6;
$h2-font-size:                $font-size-base * 5;
$h3-font-size:                $font-size-base * 4;
$h4-font-size:                $font-size-base * 3;
$h5-font-size:                $font-size-base * 2;
$h6-font-size:                $font-size-base;

$enable-negative-margins: true;
$enable-shadows: true;

$primary:                   #8f1a37;
$secondary:                 rgb(235 170 36 / 1);

$navbar-light-icon-color:           rgba($body-color, .75);
$navbar-dark-color:                 rgba($body-bg, .55);
$navbar-dark-hover-color:           rgba($body-bg, 1);
$navbar-dark-active-color:          rgba($body-bg, 1);
$navbar-light-hover-color:           rgba($body-bg, 1);
$navbar-light-active-color:          rgba($body-bg, 1);
$navbar-dark-icon-color:            $navbar-dark-color;
$navbar-light-toggler-icon-bg:      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$navbar-dark-icon-color}" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/></svg>');
$navbar-light-toggler-icon-bg-dark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/></svg>');

$navbar-light-toggler-icon-bg:      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$navbar-dark-icon-color}" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/></svg>');

:root {
  --wineblack: #8f1a37;
}
// import boostrap functions and avriables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// extend with new custom theme colors palette
$wine-colors: (
  "wineblack": #8f1a37,
  "wineorange": rgb(235 170 0 / 1),
  "winegreen": #28a745,
  "winegold": #B79B54,
  "winebrown": #301904,
  "winedark": rgb(36 36 36 / 1),
  "winelight": rgb(240 240 240 /1),
);

// extend more sizes by adding entries to the $spacers map variable boostrap
$spacers-extends: (
  6: 3.5rem,
  7: 4rem,
  8: 4.5rem,
  9: 5rem,
  10: 5.5rem,
  11: 6rem,
  12: 6.5rem,
  13: 7rem,
  14: 7.5rem,
  15: 8rem,
  16: 8.5rem,
  17: 9rem,
  18: 9.5rem,
  19: 10rem,
  20: 10.5rem
);

$theme-colors: map-merge($theme-colors, $wine-colors);
$spacers: map-merge($spacers, $spacers-extends);

$navbar-light-color:                $body-bg;


@import "bootstrap/scss/bootstrap";
// import boostrap icons
@import "bootstrap-icons/font/bootstrap-icons.min.css";

// Custom Variables
$lg-circle: 315px;
$md-circle: 265px;





@mixin full-width($px: 10) {
  margin-inline: -200%;
  padding-inline: calc(#{$px}px + 200%);
}


.nav-item {
  position: relative;
  font-family: 'Stick No Bills Variable', sans-serif;
  font-size: 1.25rem;
  margin-inline: .3em;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 4px;

  letter-spacing: 2px;
}

.nav-link span {
  color: rgb(255 255 255 / 50%);
  font-style: italic;
  font-size: 1rem;
}

.nav-link.active span {
  color: rgb(235 170 36 / 50%);
}


.nav-link.active::before {
  content: "";
  position: absolute;
  bottom: -35px;
  display: block;
  width: 0;
  height: 4px;
  background-color: currentColor;
  transition: width .3s;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.text-paragraph {
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: -0.033em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  /*&__container {
    max-width: 680px;
    margin: 1em auto;
  }*/
}

.hero {
  // Positioning

  // Box model
 /* display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(md) {
    min-height: 40vh;
  }*/

  // Typography
  /*text-align: center;
  font-weight: 100;*/
  //word-break: keep-all;

  // Visual
  background: var(--secondary);
  background: linear-gradient(200deg, rgba(235,170,36,1) 10%, rgba(235,170,36,1) 20%, rgba(235,170,36,1) 50%, rgba(143,26,55,1) 100%);
  color: var(--white);

  // Misc
 /* p {
    max-width: 680px;
    width: 100%;
  }*/
}

.dropcap {
  float: left;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: $stick;
  font-size: 6rem;
  line-height: 4rem;
  color: var(--wineblack);
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.lg-circle {
  width: $lg-circle;
  height: $lg-circle;
  font-family: $font-family-cursive;

  border-radius: 50%;
  background: var(--wineblack);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.md-circle {
  width: $md-circle;
  height: $md-circle;
  font-family: $font-family-cursive;
  font-weight: 900;
  border-radius: 50%;
  background: var(--wineblack);
  position: absolute;
  bottom: -40%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.skew-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
  z-index: -1;
}

.header-cantina,
.header-vigna,
.header-post,
.header-vini {
  padding: 1rem 0;
  background-position: center left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
  z-index: -1;
}

.header-vini {
  text-shadow: 1px 1px black;
  background-position: top right;
  -webkit-background-size: contain;
  background-size: contain;
  @include media-breakpoint-down(xl) {
    background-size: cover;
    .sf-bianco {
      background-color: #fff;
    }
  }
  p {
    text-shadow: 1px 1px transparent;

  }
}



.header-post a {
  top:3rem;
  left: 2rem;
  z-index: 99999;
}

.imbottigliamento,
.stoccaggio{
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.skew-background.stoccaggio {
  clip-path: polygon(50% 30%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

.chevron-l,
.chevron-r {
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.chevron-l {
  height: 100%;
  min-height: 500px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.chevron-r {
  height: 100%;
  min-height: 500px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.chevron-l,
.chevron-r {
  @include media-breakpoint-down(md) {
    min-height: 380px;
    clip-path: none;
  }
}

.word {
  word-break: break-all;
}

